@-webkit-keyframes move {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes move {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes shoesScale {
  from {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0.6;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes shoesScale {
  from {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0.6;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  33.33% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  33.33% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.header {
  background-color: black;
}

.header .top-bar {
  height: 100px;
}

.header .top-bar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 62px;
  padding-top: 19px;
}

.header .top-bar-wrap .top-bar__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header .top-bar-wrap .top-bar__center {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header .top-bar-wrap .top-bar__center-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .top-bar-wrap .top-bar__center-search-input {
  width: 100%;
  height: 62px;
  padding-left: 15px;
  font-size: 1.4rem;
  border: none;
  outline: none;
  background-color: #282828;
  border-radius: 1px;
  color: white;
}

.header .top-bar-wrap .top-bar__center-search button {
  background-color: #282828;
  border: none;
  outline: none;
  padding: 0 30px;
  cursor: pointer;
}

.header .top-bar-wrap .top-bar__center-search button i {
  color: #626255;
}

.header .top-bar-wrap .top-bar__cart {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 62px;
}

.header .top-bar-wrap .top-bar__cart .top-bar__cart-title {
  color: white;
  font-size: 1.9rem;
  text-decoration: underline;
  line-height: 62px;
  margin: 0 27px;
}

.header .top-bar-wrap .top-bar__cart .top-bar__cart-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  cursor: pointer;
}

.header .top-bar-wrap .top-bar__cart .top-bar__cart-wrap:hover .top-bar__cart-list--no-product {
  display: block;
}

.header .top-bar-wrap .top-bar__cart .top-bar__cart-wrap .top-bar__cart-badge {
  line-height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .top-bar-wrap .top-bar__cart .top-bar__cart-wrap .top-bar__cart-badge .badge {
  text-align: center;
  display: inline-block;
  font-size: 1.8rem;
  height: 2.6rem;
  width: 2.6rem;
  color: white;
  border-radius: 50%;
  background-color: #19e490;
  font-size: 1.4rem;
  line-height: 2.6rem;
}

.header .top-bar-wrap .top-bar__cart .top-bar__cart-wrap span {
  margin-left: 10px;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: 1px;
  color: #626255;
}

.header .top-bar-wrap .top-bar__cart .top-bar__cart-wrap .top-bar__cart-list--no-product {
  position: absolute;
  top: 77%;
  right: 0;
  width: 320px;
  border-radius: 2px;
  background-color: white;
  display: none;
}

.header .top-bar-wrap .top-bar__cart .top-bar__cart-wrap .top-bar__cart-list--no-product::before {
  content: "";
  position: absolute;
  top: -38%;
  right: 0;
  display: block;
  border-style: solid;
  border-color: transparent transparent white transparent;
  border-width: 15px;
}

.header .top-bar-wrap .top-bar__cart .top-bar__cart-wrap .top-bar__cart-list--no-product .top-bar__cart-list-text {
  color: #626255;
  font-size: 1.1rem;
  line-height: 28px;
  padding-left: 15px;
  opacity: 0.7;
}

.header .top-nav {
  height: 68px;
}

.header .top-nav .top-nav-list {
  line-height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  font-weight: 600;
  padding-left: 0;
}

.header .top-nav .top-nav-list .top-nav-item {
  margin: 30px;
  font-size: 1.8rem;
  color: #626255;
  text-decoration: none;
}

.header .top-nav .top-nav-list .top-nav-item:hover {
  color: white;
}

.header .top-nav .top-nav-list .top-nav-item.active {
  color: white;
}

.container-body .grid__fluid .slideshow {
  width: 100%;
}

.container-body .grid__fluid .slideshow-bg {
  position: relative;
}

.container-body .grid__fluid .slideshow-bg .slideshow-bg__layer0 {
  position: absolute;
  top: 60%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 34.5vw;
  height: 35vw;
  border-radius: 50%;
  background-color: #19e490;
}

.container-body .grid__fluid .slideshow-bg .slideshow-bg__layer1 {
  width: 100%;
}

.container-body .grid__fluid .slideshow-bg .slideshow-bg__layer1 img {
  width: 100%;
}

.container-body .grid__fluid .slideshow-bg .slideshow__shoes-wrap {
  width: 37vw;
  position: absolute;
  top: 0%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.container-body .grid__fluid .slideshow-bg .slideshow__shoes-wrap img {
  width: 100%;
  -webkit-animation: grow 1s ease-in-out;
          animation: grow 1s ease-in-out;
}

.container-body .grid__fluid .slideshow-bg .slideshow-bg__layer2 {
  position: absolute;
  top: 25%;
  right: 0;
  width: 100vw;
}

.container-body .grid__fluid .slideshow-bg .slideshow-bg__layer2 .grid__layer2 {
  width: 50vw;
  margin: 0 auto;
}

.container-body .grid__fluid .slideshow-bg .slideshow-bg__layer2 .grid__layer2 .slideshow-bg__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-body .grid__fluid .slideshow-bg .slideshow-bg__layer2 .grid__layer2 .slideshow-bg__content .slideshow-bg__price {
  position: relative;
}

.container-body .grid__fluid .slideshow-bg .slideshow-bg__layer2 .grid__layer2 .slideshow-bg__content .slideshow-bg__price span {
  font-size: 2vw;
  color: #19e490;
}

.container-body .grid__fluid .slideshow-bg .slideshow-bg__layer2 .grid__layer2 .slideshow-bg__content .slideshow-bg__price .slideshow__line {
  position: absolute;
  top: 14%;
  left: 0;
  width: 19vw;
  height: 2px;
  background-color: black;
}

.container-body .grid__fluid .slideshow-bg .slideshow-bg__layer2 .grid__layer2 .slideshow-bg__content .slideshow-bg__price .slideshow__line-move {
  height: 100%;
  width: 0%;
  background-color: #19e490;
  -webkit-animation: move 1s;
          animation: move 1s;
}

.container-body .grid__fluid .slideshow-bg .slideshow-bg__layer2 .grid__layer2 .slideshow-bg__content .slideshow-bg__with-dot {
  position: relative;
  width: 40%;
  z-index: 12;
}

.container-body .grid__fluid .slideshow-bg .slideshow-bg__layer2 .grid__layer2 .slideshow-bg__content .slideshow-bg__with-dot .slideshow-bg-dot img {
  width: 100%;
}

.container-body .grid__fluid .slideshow-bg .slideshow-bg__layer2 .grid__layer2 .slideshow-bg__content .slideshow-bg__with-dot .slideshow-bg__name {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  font-size: 1.1vw;
  color: white;
  letter-spacing: 1vw;
  line-height: 5vw;
  text-align: center;
}

.container-body .grid__fluid .slideshow-bg .slideshow-bg__layer2 .grid__layer2 .slideshow-bg__content .slideshow-bg__with-dot .bg-layer__arrow-btn {
  position: absolute;
  bottom: -20%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-body .grid__fluid .slideshow-bg .slideshow-bg__layer2 .grid__layer2 .slideshow-bg__content .slideshow-bg__with-dot .bg-layer__arrow-btn .arrow-btn {
  height: 40px;
  width: 40px;
  background-color: black;
  border: none;
  outline: none;
  margin-left: 25px;
  cursor: pointer;
  border-radius: 1px;
}

.container-body .grid__fluid .slideshow-bg .slideshow-bg__layer2 .grid__layer2 .slideshow-bg__content .slideshow-bg__with-dot .bg-layer__arrow-btn .arrow-btn i {
  color: white;
  font-size: 1.5rem;
}

.container-body .grid__fluid .slideshow-bg .bg-layer__with-btn {
  position: absolute;
  top: 50%;
  right: 25%;
  width: 50vw;
  height: 250px;
}

.container-body .grid__fluid .slideshow-bg .bg-layer__with-btn-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
}

.container-body .grid__fluid .slideshow-bg .bg-layer__with-btn-content .bg-layer__more-btn {
  font-size: 1.8rem;
}

.container-body .grid__fluid .slideshow-bg .bg-layer__with-btn-content .bg-layer__more-btn button {
  height: 55px;
  width: 150px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 1px;
}

.container-body .grid__fluid .slideshow-bg .bg-layer__with-btn-content .bg-layer__more-btn button:hover {
  background-color: white;
  color: black;
}

.container-body .my-service {
  margin-top: 200px;
}

.container-body .my-service__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding-left: 0;
}

.container-body .my-service__list .my-service__item .my-service__icon {
  color: #19e490;
  font-size: 4rem;
}

.container-body .my-service__list .my-service__item .my-service__heading {
  color: black;
  font-size: 1.6rem;
}

.container-body .my-service__list .my-service__item .my-service__disc {
  color: #626255;
  font-size: 1.4rem;
  opacity: 0.7;
  max-width: 220px;
}

.container-body .sneakers-shop {
  margin-top: 200px;
}

.container-body .sneakers-shop .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-body .sneakers-shop .grid .wear__title {
  font-size: 2rem;
  text-align: center;
  margin: 20px 0 40px 0;
  font-weight: 600;
}

.container-body .sneakers-shop .grid .men-wear .men-wear__heading {
  text-align: center;
  font-size: 4.5rem;
  height: 290px;
  line-height: 5rem;
  font-weight: 900;
}

.container-body .sneakers-shop .grid .men-wear .men-wear__img {
  width: 30vw;
}

.container-body .sneakers-shop .grid .men-wear .men-wear__img img {
  width: 100%;
}

.container-body .sneakers-shop .grid .men-wear .men-wear__img img:hover {
  -webkit-animation: grow 1s ease-in-out;
          animation: grow 1s ease-in-out;
}

.container-body .sneakers-shop .grid .men-wear .men-wear__join-us {
  padding-left: 100px;
}

.container-body .sneakers-shop .grid .other-wear .women-footwear__img {
  width: 25vw;
}

.container-body .sneakers-shop .grid .other-wear .women-footwear__img img {
  width: 100%;
}

.container-body .sneakers-shop .grid .other-wear .women-footwear__img img:hover {
  -webkit-animation: grow 1s ease-in-out;
          animation: grow 1s ease-in-out;
}

.container-body .sneakers-shop .grid .other-wear .kids-footwear__img {
  width: 20vw;
  margin-top: 90px;
}

.container-body .sneakers-shop .grid .other-wear .kids-footwear__img img {
  width: 100%;
}

.container-body .sneakers-shop .grid .other-wear .kids-footwear__img img:hover {
  -webkit-animation: grow 1s ease-in-out;
          animation: grow 1s ease-in-out;
}

.container-body .new-collection {
  margin-top: 150px;
  margin-bottom: 100px;
}

.container-body .new-collection__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 600px;
  overflow: hidden;
  background-color: black;
}

.container-body .new-collection__container .adidas-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -o-object-fit: fill;
     object-fit: fill;
}

.container-body .new-collection__container .adidas-img img {
  width: 100%;
}

.container-body .new-collection__container .center-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}

.container-body .new-collection__container .center-content h4 {
  margin-top: 4.5vw;
  color: white;
  font-size: 1.4rem;
}

.container-body .new-collection__container .center-content span {
  color: white;
  font-size: 4.2rem;
  line-height: 4.2rem;
  margin: 4.5vw 0;
}

.container-body .new-collection__container .center-content .content__btn {
  position: absolute;
  bottom: 20%;
  height: 65px;
  width: 166px;
}

.container-body .new-collection__container .center-content .content__btn button {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  border: 2px solid #626255;
  font-size: 1.4rem;
  cursor: pointer;
}

.container-body .new-collection__container .center-content .content__btn button:hover {
  border-color: white;
}

.container-body .new-collection__container .nike-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -o-object-fit: fill;
     object-fit: fill;
}

.container-body .new-collection__container .nike-img img {
  width: 100%;
}

.container-body .latest-added {
  margin-top: 100px;
  margin-bottom: 200px;
}

.container-body .latest-added .latest-added__container .grid {
  position: relative;
  text-align: center;
}

.container-body .latest-added .latest-added__container .grid .latest-added__heading {
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.container-body .latest-added .latest-added__container .grid .latest-added__carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-body .latest-added .latest-added__container .grid .latest-added__carousel .carousel-btn {
  width: 24px;
  height: 24px;
  font-size: 1.8rem;
  z-index: 2;
}

.container-body .latest-added .latest-added__container .grid .latest-added__carousel .carousel__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  padding-left: 0;
  list-style: none;
}

.container-body .latest-added .latest-added__container .grid .latest-added__carousel .carousel__list .carousel__item {
  margin-right: 1.2vw;
}

.container-body .latest-added .latest-added__container .grid .latest-added__carousel .carousel__list .carousel__item .carousel__img {
  position: relative;
  width: 300px;
  overflow: hidden;
}

.container-body .latest-added .latest-added__container .grid .latest-added__carousel .carousel__list .carousel__item .carousel__img-1 {
  width: 100%;
}

.container-body .latest-added .latest-added__container .grid .latest-added__carousel .carousel__list .carousel__item .carousel__img-2 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.container-body .latest-added .latest-added__container .grid .latest-added__carousel .carousel__list .carousel__item .shoes-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container-body .latest-added .latest-added__container .grid .latest-added__carousel .carousel__list .carousel__item .shoes-info .shoes__name {
  font-size: 1.6rem;
  font-weight: 600;
}

.container-body .latest-added .latest-added__container .grid .latest-added__carousel .carousel__list .carousel__item .shoes-info .shoes__price {
  font-size: 1.2rem;
  font-weight: 700;
  color: #19e490;
}

.footer {
  margin-bottom: 40px;
}

.footer .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .grid .footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.footer .grid .footer__info .info__wrap {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.footer .grid .footer__info .info__wrap .info__heading {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 600;
}

.footer .grid .footer__info .info__wrap .info__list {
  list-style: none;
  padding-left: 0;
}

.footer .grid .footer__info .info__wrap .info__list .info__item a {
  color: #626255;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 3rem;
  font-weight: 500;
  color: #a3a3a3;
}

.footer .grid .footer__contact {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.footer .grid .footer__contact .contact__social h4 {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 600;
}

.footer .grid .footer__contact .contact__social .social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .grid .footer__contact .contact__social .social__link .social__item {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.footer .grid .footer__contact .contact__social .social__link .social__item i {
  font-size: 1.8rem;
  color: #a3a3a3;
}

.footer .footer__copy-rights {
  width: 100%;
  margin-top: 180px;
}

.footer .footer__copy-rights .grid {
  font-weight: 500;
  font-size: 1.4rem;
  color: #a3a3a3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */